:root{
    --primary-color: #DF6C4F;
    --secondary-color: #f3e0dc;
    --default-font-family: 'Poppins', sans-serif;
 }
 
 @media (max-width:960px) {
    body h1 {
         font-size: 45px;
     }
 
    body h2 {
         text-align: center;
         font-size: 40px;
     }

    body .project-name {
        text-align: center;
        font-size: 28px;
        margin-bottom: 15px;
    }
 
    body .project-description {
         text-align: center;
     }

    body .about-section {
        text-align: center; 
        padding: 0;
     }

    body .img-wrapper {
        margin-top: 0 
     }

    body footer .contact-box {
        padding:  30px;   
    }

    footer #box-btn {
        font-size: 12px;
        padding: 14px;
        margin-top: 20px;
    }
    
    footer h4 {
        font-size: 20px;
    }

    footer p {
        font-size: 16px;
    }
    
 }
 
 body {
     font-family: var(--default-font-family);
 }
 h1 {
     text-align: center;
     font-family: 'Rokkitt', serif;
     font-size: 96px;
     color: white;
     margin-bottom: 0;
 }
 
 h2, h3 {
     text-align: center;
     font-family: var(--default-font-family);
     font-size: 36px;
     color: white;
 }

 h4 {
    font-size: 36px;
    font-family: 'Rokkitt', serif;
    color:#5c2018;
 }
 
 p {
     line-height: 30px;
     font-size: 16px;
 }

 
nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 15px;
    font-family: var(--default-font-family);
    font-weight: 500;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #5c2018;
    transition: all 150ms ease-in-out;
}

nav a:hover, nav li.active a {
    text-decoration: none;
    color: var(--primary-color);
    
}
 
footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: #d4a59a;
    padding: 30px 60px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer #box-btn {
    margin-top: 0;
}

footer .email-link {
    text-decoration: none;
    color:#5c2018;
    font-size: 22px;

}

footer .email-link:hover {
    color: var(--primary-color);
}

footer .social-links a {
    margin: 0 20px;
    color: #bc463a;
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 120ms ease-in-out;

}

footer .social-links a:hover {
    color:white;
    background-color: #DF6C4F;
}

 #recent-projects {
    color: #987654;
    font-family: var(--default-font-family);
    text-transform: uppercase;
 }
 
 .project-name {
     color: var(--primary-color);
     text-align-last: left;
     list-style: none;
     margin-bottom: 48px;
 }

.logo {
    max-height: 45px;
}

.content-container{
    padding: 40px 20px;
}

.content-container h1 {
    
    text-align: left;
    font-size: 46px;
    color: var(--primary-color);
}
.content-container h2,h3 {
    text-align: left;
    font-size: 32px;
    color: #987654;
    font-family: var(--default-font-family);
}

.content-container img {
        border-radius: 25px;
        width: 450px;
        border: 2px solid #DF6C4F; 
        padding: 10px;
     }
.content {
    margin: 30px;
}

.content h5 {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--default-font-family);
}

.img-wrapper {
    margin-top: 100px;
}
 .hero {
     background-color: var(--primary-color);
     text-align: center;
     padding: 100px 20px;
 }
 
 .hero h3{
     margin: 0;
     font-size: 18px;
     font-weight: 400;
 }
 
 .btn-branding {
     background-color: var(--secondary-color);
     color: #bc463a;
     border-radius: 4px;
     margin-top: 30px;
     font-family: var(--default-font-family);
     font-size: 16px;
     padding: 15px 30px;
 }
 
 .btn-branding:hover {
     background-color: #bc463a;
     color: var(--secondary-color);
     font-weight: 600;
 }
 
 .container-img {
    border-radius: 25px;
    width: 450px;
    border: 2px solid #DF6C4F; 
    padding: 10px;
 }
 
 .btn-branding-outline {
     background-color: var(--primary-color);
     color: white;
     border-radius: 4px;
     margin-top: 30px;
     font-family: var(--default-font-family);
     font-size: 16px;
     padding: 15px 30px;
 }
 
 .btn-branding-outline:hover {
     background-color: var(--secondary-color);
     color: #bc463a;
     border-color: #bc463a;
     font-weight: 600;
 }
